html,
body {
  padding-top: 100vh;
  margin: 0;
  display: flex;
 align-items: center;
 align-content: center;
 background-image: url('/cloud.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('/path/to/cloudsBg.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

a {
  color: inherit;
  text-decoration: unset;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 20%;
  height: auto;
}
